<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-green-400">Ships</h1>
      <p class="mt-2 text-sm text-green-700">A list of all your ships</p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-green-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-green-400 sm:pl-0">Ship Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-green-400">Fuel Capacity</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-green-400">Cargo</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-green-200">
          <% @resp["data"].each do |ship| %>

            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-green-400 sm:pl-0">
              <a href="/ships/<%= ship["symbol"] %>">
              <%= ship["symbol"] %>
              </a>
              
              </td>


              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500"><%= ship["fuel"]["current"]%> / <%= ship["fuel"]["capacity"] %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-green-500"> <%= ship["cargo"]["capacity"]%> </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

